<div id="content" class="col-8 col-12-medium">

    <!-- Post -->
    <article class="box post">
        <header>
        </header>
        <span class="image featured"><img src="images/alotologo.png" alt="" /></span>
        <h3>Our Mission</h3>
        <p>ALOTO is committed to creating a space where people with unique gifts
            can cultivate independence and forge enduring friendships. Through a variety of
            recreational
            activities, ALOTO ensures that everyone can experience joy and excitement.</p>
        <h3>Our Story</h3>
        <p>Our journey began on July 25, 2002, a pivotal moment that would redefine our
            lives forever—the birth of our only son, Bryce Alexander Hayes. Bryce's arrival
            filled our hearts with unimaginable joy and excitement, marking him not only our
            first and only son but the first grandson in the family.</p>

        <p>In the months following his birth, routine doctor visits revealed that Bryce wasn’t
            growing as expected. He had a cherubic face framed by beautiful almond-shaped brown
            eyes.
            At five months, after numerous tests, doctors diagnosed Bryce with Down Syndrome. The
            news
            was devastating, shattering all the dreams and aspirations we had envisioned for him. I
            vividly remember the overwhelming sorrow I felt for myself as tears flowed freely. Lying
            on
            the examination table, Bryce looked up at me, undoubtedly puzzled by my distress. His
            gaze
            and a radiant smile sparked a profound realization within me—I had been engulfed in
            self-pity,
            not considering the needs and future of my precious son.</p>


        <p>From that moment, Bryce became my teacher. He has grown into the happiest, most handsome,
            and
            intelligent young man I know. Bryce taught me to see beyond appearances, to empathize
            deeply
            with others, and to cherish and embrace life with all its uncertainties. His innate
            kindness
            and compassion exceed anything I could have ever imagined. This profound transformation
            in
            our perspective inspired our family to take action and give back.</p>

        <p>Bryce is like an angel on Earth, radiating love and kindness wherever he goes. His
            ability to
            love unconditionally has taught us to do the same, making him a beloved figure in our
            community.
            His presence has turned him into a local celebrity, beloved by all who know him.</p>

        <p>Driven by Bryce's impact, we are launching "A League of Their Own" (ALOTO). Our vision
            for ALOTO
            is to create a welcoming space where everyone can run, play, and be free. We aim to
            offer a place
            where individuals can fully express themselves, enjoy life, and build lifelong
            friendships through
            recreational activities that foster their athletic spirits. Join us in celebrating every
            individual's
            unique journey and creating a community where everyone belongs and thrives.
        </p>
        <video controls="controls" width="100%" height="600" name="Video Name">
            <source src="images/IMG_0009.MOV">
        </video>


        <br>
        <br>
        <h2>Testimonies and Sponsors:</h2>
        <h3>Eddie Watkins:</h3>
        <p>
            “Sheila, I think you and your family are doing a wonderful thing and I hope my
            contribution may help with supplies and upcoming events”.
        </p>
        <h3>
            Chad Moore:
        </h3>
        <p>
            “This is really nice. I've told several people about it already!”
        </p>
        <h3>
            Dicks Sporting Goods
        </h3>
        <h3>
            PDI Prints
        </h3>
    </article>
</div>