<main>
  <header>
    <div class="container">
      <button mat-fab extended [matMenuTriggerFor]="menu" aria-label="Menu Icon">
        <mat-icon class="menu-icon">menu</mat-icon>
        Menu
      </button>


      <mat-menu #menu="matMenu">
        <button mat-menu-item>Home</button>
        <button mat-menu-item>Calendar</button>
        <button mat-menu-item>Photo Gallery</button>
      </mat-menu>

      <img class="brand-logo" src="assets/aloto-logo/favicon.ico" alt="logo" aria-hidden="true">

    </div>
  </header>

  <body>
    <router-outlet></router-outlet>
  </body>
</main>