.container {
    margin: auto;
    justify-content: center;
    border: 3px black solid;
    background-color: #ef766b;
}

.container button {
    font-size: 2ch;
    margin: 1ch .3ch
}

.brand-logo {
    margin-top: 1ch;
    margin-bottom: -2ch;
    margin-right: .3ch;
}

.menu-icon {}